<%- include('partials/nav') -%>
<div class="container">
  <div class="row mt-5">
          <div class="mt-5">
            <section class="welcome">
              <h2>Personalization your experience</h2>
              <p>Paragraph about Mission</p>
            </section>
            
            <section class="personalize">
            <form action="/account" enctype="multipart/form-data" method="POST">
              <label for="age">How old are you?</label>
              <select id="age" name="age">
                <option value="Under18">Under 18</option>
                <option value="Over18">Over 18</option>
                <option value="Over50">Over 50</option>
                <option value="Over55">Over 55</option>
                <option value="Over65">Over 65</option>
              </select>              
              <label for="lang">Can you read or speak English?</label>
              <select id ="lang" name="lang">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <label for="lpr">How long have you been a legal permanent resident in the US?</label>
              <select id="lpr" name="lpr">
                <option value="Under 5 Years">Under 5 Years</option>
                <option value="5 years or more">5 years or more</option>
                <option value="15 years or more">15 years or more</option>
                <option value="20 years or more">20 years or more</option>
              </select>
              <label for="pb">Do you have public benefits (SNAP/EBT, Medicaid, etc)?</label>
              <select id ="pb" name="pb">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </section>

            <section class="personalizeRes">
              <ul class="row list-unstyled">
                <% for (let i=0; i <personalize.length; i++) {%>
                  <li>
                    <span>Age:<%= personalize[i].age %></span>
                    <span>You feel comfortable speaking English:<%= personalize[i].lang %></span>
                    <span>You have been an a legal permanent resident for: <%= personalize[i].lpr %></span>
                    <span>You have public benefits: <%= personalize[i].pb %></span>
                    <span><button class="check">Done</button></span>
                    <span><button class="fa fa-trash" aria-hidden="true"></button></span>
                  </li>
                <% } %>
              </ul>
            </section>
          </div>
      <div class="col-6">  
      </div>  
    </div>
</div>
