<%- include('partials/nav') -%>
<div class="container">
    <div class="row mt-5">
        <div class="mt-5">
            <div id="sum-container"><p class="numberCorrect">Correct: <%= sum %> / 100</p></div>
            <% exam.map((exam, index) => {%>
                <div class="questionHolder" data-object-id="<%=exam._id%>">
                    <p><%=exam.questionEng%></p>
                    <span class="speechQ"><img src="imgs/icons8-listen-96.png"></span>
                    <p><%=exam.questionLao%></p>
                    <button class="toggle" onclick="toggleAnswer(this)">Show Answer</button>
                    <p class="answer toggle"><%=exam.answerEng%></p>
                    <a class="speechA answer"><img src="imgs/icons8-listen-96.png"></a>
                    <p class="answer toggle"><%=exam.answerLao%></p>
                    <label for="answer" class="answer">Did you answer correctly?</label>
                    <form action="/study/updateSurvey/?_method=PUT" method="POST"> 
                        <input type="hidden" name="id" value="<%= exam._id %>"> 
                        <span class="answer">
                          <input type="radio" id="yes" name="answer" value="yes" aria-labelledby="answer" required>
                          <label for="yes">Yes</label>
                        </span>
                        <div class="answer">
                          <input type="radio" id="no" name="answer" value="no" aria-labelledby="answer" required>
                          <label for="no">No</label>
                        </div>
                        <button type="submit" class="answer">Submit</button>
                    </form>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>